Repository ferrisdb/ferrisdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ferrisdb/maintainers, @ferrisdb/core-team, @ferrisdb/storage-team, @ferrisdb/client-team, @ferrisdb/server-team, @ferrisdb/docs-team, @ferrisdb/admins, @ferrisdb/devops

feat: Add proper pagination support for blog
  docs/Gemfile
  docs/_config.yml
  docs/_sass/color_schemes/ferrisdb.scss
  docs/blog.md
  docs/blog/index.html
Owners: @ferrisdb/docs-team

fix: Correct label rendering in index pages
  docs/deep-dive/index.md
  docs/rust-by-example/index.md
Owners: @ferrisdb/docs-team

style: Replace label badges with inline emoji indicators
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/index.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
Owners: @ferrisdb/docs-team

feat: Enhance blog listings with consistent emoji formatting
  docs/blog/index.html
  docs/claude-blog.md
  docs/claude-blog/index.html
Owners: @ferrisdb/docs-team

fix: Add excerpt separators to prevent TOC in blog listings
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
Owners: @ferrisdb/docs-team

docs: Update CLAUDE.md and templates with new documentation standards
  CLAUDE.md
  docs/_claude_blog/blog-post-template.md
  docs/_posts/blog-post-template.md
  docs/deep-dive/article-template.md
  docs/rust-by-example/article-template.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

style: Replace homepage labels with integrated headings
  docs/index.md
Owners: @ferrisdb/docs-team

fix: Fix markdown linting issues
  CLAUDE.md
  docs/_posts/blog-post-template.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

chore: Remove rebuild trigger file
  docs/TRIGGER_REBUILD.md
Owners: @ferrisdb/docs-team

docs: Reorganize development guidelines into modular structure
  CLAUDE.md
  README.md
  docs/guidelines/README.md
  docs/guidelines/content/README.md
  docs/guidelines/content/blogging.md
  docs/guidelines/content/claude-blog-voice.md
  docs/guidelines/content/deep-dive-articles.md
  docs/guidelines/content/rust-by-example.md
  docs/guidelines/content/website-design.md
  docs/guidelines/development/code-style.md
  docs/guidelines/development/documentation.md
  docs/guidelines/development/idiomatic-rust.md
  docs/guidelines/development/markdown-quality.md
  docs/guidelines/technical/invariants.md
  docs/guidelines/workflow/git-workflow.md
  docs/guidelines/workflow/pr-process.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

fix: Fix all markdown linting issues
  .github/workflows/README.md
  CLAUDE.md
  README.md
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_claude_blog/blog-post-template.md
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
  docs/_posts/blog-post-template.md
  docs/architecture.md
  docs/deep-dive/article-template.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/index.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/future-architecture.md
  docs/getting-started.md
  docs/guidelines/README.md
  docs/guidelines/development/code-style.md
  docs/guidelines/development/idiomatic-rust.md
  docs/guidelines/development/markdown-quality.md
  docs/guidelines/technical/invariants.md
  docs/guidelines/workflow/git-workflow.md
  docs/guidelines/workflow/pr-process.md
  docs/index.md
  docs/rust-by-example/article-template.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
  docs/storage-engine.md
Owners: @ferrisdb/devops, @ferrisdb/admins, @ferrisdb/docs-team

docs: Update PR review process with API usage guidelines
  docs/guidelines/workflow/pr-process.md
Owners: @ferrisdb/docs-team

fix: Fix markdown linting issues in PR process guidelines
  docs/guidelines/workflow/pr-process.md
Owners: @ferrisdb/docs-team

docs: Create inclusive human-AI collaboration guidelines
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
Owners: @ferrisdb/docs-team

chore: Fix markdown formatting issues
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  docs/guidelines/development/markdown-quality.md
  docs/guidelines/workflow/pr-process.md
Owners: @ferrisdb/docs-team

fix: Remove indentation from {:toc} directive for proper Jekyll rendering
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_claude_blog/blog-post-template.md
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
  docs/_posts/blog-post-template.md
  docs/architecture.md
  docs/deep-dive/article-template.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/future-architecture.md
  docs/getting-started.md
  docs/rust-by-example/article-template.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
  docs/storage-engine.md
Owners: @ferrisdb/docs-team

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Owners: @ferrisdb/devops

Add Claude PR Assistant workflow
  .github/workflows/claude.yml
Owners: @ferrisdb/devops

fix: Remove indentation from {:toc} directive for proper Jekyll rendering
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_claude_blog/blog-post-template.md
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
  docs/_posts/blog-post-template.md
  docs/architecture.md
  docs/deep-dive/article-template.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/future-architecture.md
  docs/getting-started.md
  docs/rust-by-example/article-template.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
  docs/storage-engine.md
Owners: @ferrisdb/docs-team

docs: Update blogging guidelines for realistic AI prompting style
  docs/_posts/blog-post-template.md
  docs/guidelines/content/blogging.md
Owners: @ferrisdb/docs-team

docs: Update blogging guidelines for realistic AI prompting style
  docs/_posts/blog-post-template.md
  docs/guidelines/content/blogging.md
  docs/guidelines/content/claude-blog-voice.md
Owners: @ferrisdb/docs-team

docs: Simplify and clarify blogging guidelines
  docs/_posts/blog-post-template.md
  docs/guidelines/content/blogging.md
  docs/guidelines/content/claude-blog-voice.md
Owners: @ferrisdb/docs-team

docs: Fix markdown formatting and linting issues
  CLAUDE.md
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_claude_blog/blog-post-template.md
  docs/_config.yml
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-27-day-1-learning-through-code-review.md
  docs/_posts/2025-05-27-day-1-reading-between-lines.md
  docs/_posts/2025-05-28-day-2-code-review-drives-improvements.md
  docs/_posts/2025-05-28-day-2-questions-transform-architecture.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
  docs/_posts/blog-post-template.md
  docs/_posts/claude-blog-post-template.md
  docs/_posts/human-blog-post-template.md
  docs/architecture.md
  docs/blog/claude/index.html
  docs/blog/human/index.html
  docs/blog/index.html
  docs/claude-blog/index.html
  docs/deep-dive/article-template.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/future-architecture.md
  docs/getting-started.md
  docs/guidelines/README.md
  docs/guidelines/content/README.md
  docs/guidelines/content/blogging.md
  docs/guidelines/content/claude-blog-voice.md
  docs/guidelines/workflow/git-workflow.md
  docs/guidelines/workflow/pr-process.md
  docs/rust-by-example/article-template.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
  docs/storage-engine.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

docs: Add squash merge commentary guidelines and clarify CLAUDE.md purpose
  CLAUDE.md
  docs/guidelines/workflow/git-workflow.md
  docs/guidelines/workflow/pr-process.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

fix: Resolve prettier/markdownlint conflicts and update guidelines
  .markdownlint.json
  .prettierignore
  docs/_posts/2025-05-27-day-1-learning-through-code-review.md
  docs/_posts/2025-05-27-day-1-reading-between-lines.md
  docs/_posts/2025-05-28-day-2-code-review-drives-improvements.md
  docs/_posts/2025-05-28-day-2-questions-transform-architecture.md
  docs/_posts/claude-blog-post-template.md
  docs/_posts/human-blog-post-template.md
  docs/architecture.md
  docs/deep-dive/article-template.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/future-architecture.md
  docs/getting-started.md
  docs/guidelines/README.md
  docs/guidelines/development/markdown-quality.md
  docs/guidelines/development/markdown-tooling.md
  docs/guidelines/workflow/git-workflow.md
  docs/rust-by-example/article-template.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
  docs/storage-engine.md
Owners: @ferrisdb/maintainers, @ferrisdb/docs-team

docs: Improve website navigation and fix content inaccuracies
  ROADMAP.md
  docs/404.html
  docs/_layouts/post.html
  docs/_posts/2025-05-27-day-1-from-just-use-rocksdb-to-building-from-scratch.md
  docs/_posts/2025-05-27-day-1-how-i-learned-humans-say-build-but-mean-teach.md
  docs/_posts/2025-05-28-day-2-from-linear-search-to-clean-apis.md
  docs/_posts/2025-05-28-day-2-when-human-questions-transform-architecture.md
  docs/_posts/2025-05-29-day-3-how-we-stopped-claude-from-making-stuff-up.md
  docs/_posts/2025-05-29-day-3-when-i-started-writing-fiction-and-how-we-fixed-it.md
  docs/architecture.md
  docs/blog/claude/index.html
  docs/blog/index.html
  docs/claude-blog/index.html
  docs/database-concepts/article-template.md
  docs/database-concepts/concurrent-skip-list.md
  docs/database-concepts/index.md
  docs/database-concepts/lsm-trees.md
  docs/database-concepts/sstable-design.md
  docs/database-concepts/wal-crash-recovery.md
  docs/faq.md
  docs/getting-started.md
  docs/guidelines/README.md
  docs/guidelines/content/README.md
  docs/guidelines/content/database-concepts-articles.md
  docs/guidelines/content/website-design.md
  docs/how-we-work.md
  docs/index.md
  docs/start-here.md
Owners: @ferrisdb/docs-team

style: Format markdown files with prettier
  ROADMAP.md
  docs/guidelines/content/website-design.md
  docs/how-we-work.md
  docs/index.md
  docs/start-here.md
Owners: @ferrisdb/docs-team

fix: Resolve markdown linting issues
  docs/guidelines/content/website-design.md
  docs/how-we-work.md
  docs/start-here.md
Owners: @ferrisdb/docs-team

fix: Remove trailing punctuation from remaining headings
  docs/guidelines/content/website-design.md
Owners: @ferrisdb/docs-team

fix: Disable MD025 rule to resolve false positives with bash comments
  .markdownlint.json
  docs/start-here.md
Owners: @ferrisdb/maintainers, @ferrisdb/docs-team

docs: Major website maintenance improvements and statistics caching
  CLAUDE.md
  docs/blog/claude/index.html
  docs/blog/human/index.html
  docs/blog/index.html
  docs/claude-blog/index.html
  docs/faq.md
  docs/getting-started.md
  docs/guidelines/content/website-design.md
  docs/how-we-work.md
  docs/index.md
  docs/start-here.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

fix: Website navigation and display issues
  docs/404.html
  docs/_includes/footer_custom.html
  docs/_layouts/post.html
  docs/blog/claude/index.html
  docs/blog/human/index.html
  docs/blog/index.html
  docs/getting-started.md
  docs/start-here.md
Owners: @ferrisdb/docs-team

docs: Make collaboration commentary mandatory in all development workflows
  CLAUDE.md
  docs/guidelines/workflow/git-workflow.md
  docs/guidelines/workflow/pr-process.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

fix: Correct unclosed if tag in post layout template
  docs/_layouts/post.html
Owners: @ferrisdb/docs-team

fix: Improve Jekyll build reliability and fix template syntax issues
  .github/workflows/deploy-docs.yml
  docs/_layouts/post.html
Owners: @ferrisdb/devops, @ferrisdb/docs-team

docs: Complete Day 3 blog posts with all infrastructure improvements
  docs/_layouts/post.html
  docs/_posts/2025-05-29-day-3-how-we-stopped-claude-from-making-stuff-up.md
  docs/_posts/2025-05-29-day-3-when-i-started-writing-fiction-and-how-we-fixed-it.md
Owners: @ferrisdb/docs-team

fix: Update dead links in How We Work page
  docs/how-we-work.md
Owners: @ferrisdb/docs-team

fix: Remove collection-level permalink to resolve duplicate nav entry
  docs/_config.yml
Owners: @ferrisdb/docs-team

fix: Remove redundant permalinks from blog index files
  docs/blog/claude/index.html
  docs/blog/human/index.html
  docs/blog/index.html
Owners: @ferrisdb/docs-team

feat: Use categories for automatic blog permalinks
  docs/_config.yml
  docs/_posts/2025-05-27-day-1-from-just-use-rocksdb-to-building-from-scratch.md
  docs/_posts/2025-05-27-day-1-how-i-learned-humans-say-build-but-mean-teach.md
  docs/_posts/2025-05-28-day-2-from-linear-search-to-clean-apis.md
  docs/_posts/2025-05-28-day-2-when-human-questions-transform-architecture.md
  docs/_posts/2025-05-29-day-3-how-we-stopped-claude-from-making-stuff-up.md
  docs/_posts/2025-05-29-day-3-when-i-started-writing-fiction-and-how-we-fixed-it.md
  docs/_posts/claude-blog-post-template.md
  docs/_posts/human-blog-post-template.md
Owners: @ferrisdb/docs-team

.github/CODEOWNERS:

# CODEOWNERS for FerrisDB
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                           @ferrisdb/maintainers

# Core components
/ferrisdb-core/            @ferrisdb/core-team
/ferrisdb-storage/         @ferrisdb/storage-team
/ferrisdb-client/          @ferrisdb/client-team
/ferrisdb-server/          @ferrisdb/server-team

# Documentation
/docs/                     @ferrisdb/docs-team
*.md                       @ferrisdb/docs-team

# GitHub configuration
/.github/                  @ferrisdb/admins
/CLAUDE.md                 @ferrisdb/admins

# Build and CI
/Cargo.toml               @ferrisdb/maintainers
/Cargo.lock               @ferrisdb/maintainers
/.github/workflows/       @ferrisdb/devops
