Repository ferrisdb/ferrisdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ferrisdb/maintainers, @ferrisdb/core-team, @ferrisdb/storage-team, @ferrisdb/client-team, @ferrisdb/server-team, @ferrisdb/docs-team, @ferrisdb/admins, @ferrisdb/devops

.github/CODEOWNERS:

# CODEOWNERS for FerrisDB
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                           @ferrisdb/maintainers

# Core components
/ferrisdb-core/            @ferrisdb/core-team
/ferrisdb-storage/         @ferrisdb/storage-team
/ferrisdb-client/          @ferrisdb/client-team
/ferrisdb-server/          @ferrisdb/server-team

# Documentation
/docs/                     @ferrisdb/docs-team
*.md                       @ferrisdb/docs-team

# GitHub configuration
/.github/                  @ferrisdb/admins
/CLAUDE.md                 @ferrisdb/admins

# Build and CI
/Cargo.toml               @ferrisdb/maintainers
/Cargo.lock               @ferrisdb/maintainers
/.github/workflows/       @ferrisdb/devops

refactor: Clean up navigation structure and remove redundant permalinks
  docs/architecture.md
  docs/blog/index.html
  docs/database-concepts/concurrent-skip-list.md
  docs/database-concepts/index.md
  docs/database-concepts/lsm-trees.md
  docs/database-concepts/sstable-design.md
  docs/database-concepts/wal-crash-recovery.md
  docs/faq.md
  docs/future-architecture.md
  docs/guidelines/content/website-design.md
  docs/how-we-work.md
  docs/index.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
  docs/start.md
  docs/try-locally.md
Owners: @ferrisdb/docs-team

feat: Add subtitles to Claude posts and fix duplicate nav entries
  docs/_config.yml
  docs/_posts/2025-05-27-day-1-how-i-learned-humans-say-build-but-mean-teach.md
  docs/_posts/2025-05-28-day-2-when-human-questions-transform-architecture.md
  docs/_posts/2025-05-29-day-3-when-i-started-writing-fiction-and-how-we-fixed-it.md
  docs/_posts/claude-blog-post-template.md
  docs/blog/claude/index.html
Owners: @ferrisdb/docs-team

feat: Add blog perspective pages as navigation children
  docs/blog/claude/index.html
  docs/blog/human/index.html
  docs/blog/index.html
Owners: @ferrisdb/docs-team

docs: Add breadcrumbs to all blog posts for consistent navigation
  docs/_posts/2025-05-27-day-1-from-just-use-rocksdb-to-building-from-scratch.md
  docs/_posts/2025-05-27-day-1-how-i-learned-humans-say-build-but-mean-teach.md
  docs/_posts/2025-05-28-day-2-from-linear-search-to-clean-apis.md
  docs/_posts/2025-05-28-day-2-when-human-questions-transform-architecture.md
  docs/_posts/2025-05-29-day-3-how-we-stopped-claude-from-making-stuff-up.md
  docs/_posts/2025-05-29-day-3-when-i-started-writing-fiction-and-how-we-fixed-it.md
  docs/_posts/claude-blog-post-template.md
  docs/_posts/human-blog-post-template.md
Owners: @ferrisdb/docs-team

refactor: Move guidelines directory from docs/ to project root
  CLAUDE.md
  guidelines/README.md
  guidelines/content/README.md
  guidelines/content/blogging.md
  guidelines/content/claude-blog-voice.md
  guidelines/content/database-concepts-articles.md
  guidelines/content/rust-by-example.md
  guidelines/content/website-design.md
  guidelines/development/code-style.md
  guidelines/development/documentation.md
  guidelines/development/idiomatic-rust.md
  guidelines/development/markdown-quality.md
  guidelines/development/markdown-tooling.md
  guidelines/technical/invariants.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

docs: Create missing guidelines and fix all broken references
  CLAUDE.md
  DEVELOPMENT.md
  guidelines/README.md
  guidelines/technical/architecture.md
  guidelines/technical/performance.md
  guidelines/technical/security.md
  guidelines/technical/storage-engine.md
  guidelines/workflow/commands.md
  guidelines/workflow/testing.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

style: Fix architecture diagram alignment
  guidelines/technical/architecture.md
Owners: @ferrisdb/docs-team

style: Perfect architecture diagram symmetry
  guidelines/technical/architecture.md
Owners: @ferrisdb/docs-team

style: Format guideline markdown files with prettier
  guidelines/technical/architecture.md
  guidelines/technical/performance.md
  guidelines/technical/security.md
  guidelines/technical/storage-engine.md
  guidelines/workflow/commands.md
  guidelines/workflow/testing.md
Owners: @ferrisdb/docs-team

docs: Complete GOVERNANCE compliance audit and fixes
  guidelines/content/README.md
  guidelines/content/blogging.md
  guidelines/content/database-concepts-articles.md
  guidelines/content/rust-by-example.md
  guidelines/development/README.md
  guidelines/development/code-style.md
  guidelines/development/documentation.md
  guidelines/development/idiomatic-rust.md
  guidelines/development/markdown-standards.md
  guidelines/development/visualization.md
  guidelines/workflow/commands.md
  guidelines/workflow/pr-process.md
  guidelines/workflow/website-maintenance.md
Owners: @ferrisdb/docs-team

feat: Implement Starlight migration framework and tutorial system
  CLAUDE.md
  docs/MIGRATION-PLAN.md
  guidelines/README.md
  guidelines/content/DATABASE-CONCEPTS-TAUGHT.md
  guidelines/content/LEARNING-PROGRESS.md
  guidelines/content/README.md
  guidelines/content/RUST-CONCEPTS-TAUGHT.md
  guidelines/content/blogging.md
  guidelines/content/database-concepts-articles.md
  guidelines/content/rust-by-example.md
  guidelines/content/templates/README.md
  guidelines/content/templates/blog-post-claude.mdx
  guidelines/content/templates/blog-post-human.mdx
  guidelines/content/templates/database-concept.mdx
  guidelines/content/templates/rust-by-example.mdx
  guidelines/content/templates/tutorial-01-sample.mdx
  guidelines/content/templates/tutorial.mdx
  guidelines/content/tutorials.md
  guidelines/content/website-design-starlight.md
  guidelines/content/website-design.md
  guidelines/workflow/website-maintenance-starlight.md
  guidelines/workflow/website-maintenance.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team, @ferrisdb/maintainers

chore: Replace markdownlint with prettier-only formatting
  .github/workflows/ci.yml
  .markdownlint.json
  CLAUDE.md
  DEVELOPMENT.md
  docs/MIGRATION-PLAN.md
  guidelines/content/DATABASE-CONCEPTS-TAUGHT.md
  guidelines/content/LEARNING-PROGRESS.md
  guidelines/content/README.md
  guidelines/content/RUST-CONCEPTS-TAUGHT.md
  guidelines/content/blogging.md
  guidelines/content/database-concepts-articles.md
  guidelines/content/rust-by-example.md
  guidelines/content/templates/README.md
  guidelines/content/tutorials.md
  guidelines/content/website-design-starlight.md
  guidelines/development/markdown-standards.md
  guidelines/workflow/commands.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
  guidelines/workflow/website-maintenance-starlight.md
Owners: @ferrisdb/devops, @ferrisdb/maintainers, @ferrisdb/admins, @ferrisdb/docs-team

chore: Format markdown files with prettier
  docs/_posts/2025-05-27-day-1-how-i-learned-humans-say-build-but-mean-teach.md
  docs/_posts/2025-05-28-day-2-when-human-questions-transform-architecture.md
  docs/_posts/2025-05-29-day-3-how-we-stopped-claude-from-making-stuff-up.md
  docs/_posts/2025-05-29-day-3-when-i-started-writing-fiction-and-how-we-fixed-it.md
  guidelines/content/templates/blog-post-claude.mdx
  guidelines/content/templates/blog-post-human.mdx
  guidelines/content/templates/database-concept.mdx
  guidelines/content/templates/rust-by-example.mdx
  guidelines/content/templates/tutorial-01-sample.mdx
  guidelines/content/templates/tutorial.mdx
Owners: @ferrisdb/docs-team, @ferrisdb/maintainers

fix: Apply prettier formatting to MDX templates
  guidelines/content/templates/blog-post-claude.mdx
  guidelines/content/templates/database-concept.mdx
  guidelines/content/templates/rust-by-example.mdx
  guidelines/content/templates/tutorial-01-sample.mdx
  guidelines/content/templates/tutorial.mdx
Owners: @ferrisdb/maintainers

feat: Add Starlight documentation site
  ferrisdb-docs/.gitignore
  ferrisdb-docs/README.md
  ferrisdb-docs/astro.config.mjs
  ferrisdb-docs/package-lock.json
  ferrisdb-docs/package.json
  ferrisdb-docs/public/CNAME
  ferrisdb-docs/public/favicon.svg
  ferrisdb-docs/src/assets/ferrisdb_logo.svg
  ferrisdb-docs/src/assets/houston.webp
  ferrisdb-docs/src/components/Stats.astro
  ferrisdb-docs/src/content.config.ts
  ferrisdb-docs/src/content/config.ts
  ferrisdb-docs/src/content/docs/benchmarks.mdx
  ferrisdb-docs/src/content/docs/blog-overview.mdx
  ferrisdb-docs/src/content/docs/blog/day-1-claude-how-i-learned-humans-say-build-but-mean-teach.md
  ferrisdb-docs/src/content/docs/blog/day-1-human-from-just-use-rocksdb-to-building-from-scratch.md
  ferrisdb-docs/src/content/docs/blog/day-2-claude-when-human-questions-transform-architecture.md
  ferrisdb-docs/src/content/docs/blog/day-2-human-from-linear-search-to-clean-apis.md
  ferrisdb-docs/src/content/docs/blog/day-3-claude-when-i-started-writing-fiction-and-how-we-fixed-it.md
  ferrisdb-docs/src/content/docs/blog/day-3-human-how-we-stopped-claude-from-making-stuff-up.md
  ferrisdb-docs/src/content/docs/concepts/database-internals/lsm-trees.mdx
  ferrisdb-docs/src/content/docs/concepts/database-internals/skip-lists.mdx
  ferrisdb-docs/src/content/docs/concepts/database-internals/sstables.mdx
  ferrisdb-docs/src/content/docs/concepts/database-internals/wal.mdx
  ferrisdb-docs/src/content/docs/concepts/rust-patterns/ownership-sharing.mdx
  ferrisdb-docs/src/content/docs/getting-started.mdx
  ferrisdb-docs/src/content/docs/guides/installation.mdx
  ferrisdb-docs/src/content/docs/index.mdx
  ferrisdb-docs/src/content/docs/project/faq.mdx
  ferrisdb-docs/src/content/docs/project/how-we-work.mdx
  ferrisdb-docs/src/content/docs/project/roadmap.mdx
  ferrisdb-docs/src/content/docs/reference/architecture.mdx
  ferrisdb-docs/src/content/docs/reference/configuration.mdx
  ferrisdb-docs/src/content/docs/reference/future-architecture.mdx
  ferrisdb-docs/src/content/docs/reference/storage-engine.mdx
  ferrisdb-docs/src/content/docs/tutorial.mdx
  ferrisdb-docs/src/content/docs/tutorials/01-key-value-store.mdx
  ferrisdb-docs/src/styles/custom.css
  ferrisdb-docs/tsconfig.json
Owners: @ferrisdb/maintainers, @ferrisdb/docs-team

docs: Raise the bar for tutorial quality with mandatory dogfooding
  CLAUDE.md
  guidelines/content/README.md
  guidelines/content/tutorials.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

feat: Create ferrisdb-tutorials with Tutorial 01 implementation
  ferrisdb-tutorials/Cargo.toml
  ferrisdb-tutorials/README.md
  ferrisdb-tutorials/tutorial-01-kv-store/Cargo.toml
  ferrisdb-tutorials/tutorial-01-kv-store/README.md
  ferrisdb-tutorials/tutorial-01-kv-store/benches/performance.rs
  ferrisdb-tutorials/tutorial-01-kv-store/exercises/README.md
  ferrisdb-tutorials/tutorial-01-kv-store/exercises/challenge_01_delete.rs
  ferrisdb-tutorials/tutorial-01-kv-store/exercises/solutions/challenge_01_solution.rs
  ferrisdb-tutorials/tutorial-01-kv-store/src/lib.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/concurrent_tests.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/integration_tests.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/step_01_tests.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/step_02_tests.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/step_03_tests.rs
Owners: @ferrisdb/maintainers, @ferrisdb/docs-team

fix: Apply prettier formatting to markdown files
  ferrisdb-tutorials/README.md
  ferrisdb-tutorials/tutorial-01-kv-store/README.md
  ferrisdb-tutorials/tutorial-01-kv-store/exercises/README.md
  guidelines/content/README.md
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

docs: Add tutorial reference maintenance guidelines
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

feat: Add tutorial and Starlight testing to CI pipeline
  .github/workflows/ci.yml
Owners: @ferrisdb/devops

style: Apply prettier formatting to tutorials.md
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

fix: Repair corrupted code blocks in Tutorial 1
  ferrisdb-docs/src/content/docs/tutorials/01-key-value-store.mdx
Owners: @ferrisdb/maintainers

fix: Format tutorial code and update guidelines
  ferrisdb-tutorials/tutorial-01-kv-store/benches/performance.rs
  ferrisdb-tutorials/tutorial-01-kv-store/src/lib.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/concurrent_tests.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/integration_tests.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/step_01_tests.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/step_02_tests.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/step_03_tests.rs
  guidelines/content/tutorials.md
Owners: @ferrisdb/maintainers, @ferrisdb/docs-team

fix: Handle prettier MDX formatting issues
  .prettierignore
  .prettierrc
  ferrisdb-docs/src/content/docs/concepts/database-internals/wal.mdx
  ferrisdb-docs/src/content/docs/index.mdx
Owners: @ferrisdb/maintainers

fix: Add empty lines around MDX code blocks to prevent prettier corruption
  .prettierignore
  ferrisdb-docs/src/content/docs/tutorials/01-key-value-store.mdx
Owners: @ferrisdb/maintainers

docs: Add MDX code block formatting guidelines to prevent corruption
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

fix: Prevent prettier from corrupting MDX examples in guidelines
  guidelines/content/templates/tutorial-01-sample.mdx
  guidelines/content/tutorials.md
Owners: @ferrisdb/maintainers, @ferrisdb/docs-team

fix: Add Default derive to KeyValueStore to satisfy clippy
  ferrisdb-docs/src/content/docs/tutorials/01-key-value-store.mdx
  ferrisdb-tutorials/tutorial-01-kv-store/src/lib.rs
Owners: @ferrisdb/maintainers

docs: Enhance tutorial guidelines with clippy and sync requirements
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

fix: Apply prettier formatting and fix MDX examples
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

fix: Apply prettier formatting to guidelines and fix MDX examples
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

feat: Use proper MDX syntax highlighting in guidelines
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

fix: Repair corrupted MDX code blocks and HTML entities
  ferrisdb-docs/src/content/docs/benchmarks.mdx
  ferrisdb-docs/src/content/docs/getting-started.mdx
  ferrisdb-docs/src/content/docs/reference/architecture.mdx
  ferrisdb-docs/src/content/docs/reference/configuration.mdx
Owners: @ferrisdb/maintainers

style: Apply prettier formatting to MDX files
  ferrisdb-docs/src/content/docs/index.mdx
  ferrisdb-docs/src/content/docs/project/roadmap.mdx
  ferrisdb-docs/src/content/docs/reference/current-implementation.mdx
Owners: @ferrisdb/maintainers

fix: Allow educational warnings in exercise templates
  ferrisdb-tutorials/tutorial-01-kv-store/exercises/challenge_01_delete.rs
  ferrisdb-tutorials/tutorial-01-kv-store/exercises/challenge_02_ttl.rs
  ferrisdb-tutorials/tutorial-01-kv-store/exercises/challenge_03_case_insensitive.rs
  ferrisdb-tutorials/tutorial-01-kv-store/exercises/challenge_04_prefix_scan.rs
Owners: @ferrisdb/maintainers

fix: Repair MDX syntax error in exploring-ferrisdb.mdx
  ferrisdb-docs/src/content/docs/exploring-ferrisdb.mdx
Owners: @ferrisdb/maintainers

docs: Add critical MDX inline comment guidelines
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

fix: Resolve prettier formatting in tutorial guidelines
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

refactor: Move exercise templates to examples/ to fix CI
  .github/workflows/ci.yml
  ferrisdb-tutorials/tutorial-01-kv-store/Cargo.toml
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises.rs
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises/README.md
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises/challenge_01_delete.rs
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises/challenge_02_ttl.rs
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises/challenge_03_case_insensitive.rs
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises/challenge_04_prefix_scan.rs
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises/solutions/challenge_01_solution.rs
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises/solutions/challenge_02_solution.rs
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises/solutions/challenge_03_solution.rs
  ferrisdb-tutorials/tutorial-01-kv-store/examples/exercises/solutions/challenge_04_solution.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/exercises.rs
  ferrisdb-tutorials/tutorial-01-kv-store/tests/solutions.rs
Owners: @ferrisdb/devops, @ferrisdb/maintainers, @ferrisdb/docs-team

docs: Update tutorial guidelines for new examples/ structure
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team
