Repository ferrisdb/ferrisdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ferrisdb/maintainers, @ferrisdb/core-team, @ferrisdb/storage-team, @ferrisdb/client-team, @ferrisdb/server-team, @ferrisdb/docs-team, @ferrisdb/admins, @ferrisdb/devops

fix: Fix CI failures in deny.toml and CodeQL
  .github/scripts/setup-branch-protection.sh
  .github/workflows/security.yml
  deny.toml
Owners: @ferrisdb/admins, @ferrisdb/devops, @ferrisdb/maintainers

fix: Add Unicode-3.0 license and remove deprecated config
  deny.toml
Owners: @ferrisdb/maintainers

fix: Add permissions to PR review check workflow
  .github/workflows/pr-review-check.yml
Owners: @ferrisdb/devops

feat: Add Claude's Dev Blog with first post on AI-human collaboration
  CLAUDE.md
  docs/_claude_blog/_posts/2025-01-28-hello-ferrisdb.md
  docs/_claude_blog/index.md
  docs/_config.yml
Owners: @ferrisdb/admins, @ferrisdb/docs-team

fix: Fix markdown linting errors in Claude's blog
  docs/_claude_blog/_posts/2025-01-28-hello-ferrisdb.md
  docs/_claude_blog/index.md
Owners: @ferrisdb/docs-team

fix: Fix navigation layout and Claude blog 404 issue
  docs/_claude_blog/index.md
  docs/_config.yml
Owners: @ferrisdb/docs-team

fix: Move Claude blog post to correct collection directory
  docs/_claude_blog/2025-01-28-hello-ferrisdb.md
Owners: @ferrisdb/docs-team

fix: Move Claude blog index to correct location
  docs/claude-blog.md
Owners: @ferrisdb/docs-team

feat: Add path-based CI filtering to skip Rust tests for docs-only changes
  .github/workflows/ci.yml
Owners: @ferrisdb/devops

feat: Add comprehensive contribution and development guides
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  docs/getting-started.md
  docs/storage-engine.md
Owners: @ferrisdb/docs-team

feat: Add GitHub stars encouragement sections
  CONTRIBUTING.md
  README.md
Owners: @ferrisdb/docs-team

feat: Replace Twitter sharing with GitHub engagement in blog posts
  docs/_layouts/post.html
Owners: @ferrisdb/docs-team

fix: Remove quick-checks dependency from conditional jobs
  .github/workflows/ci.yml
Owners: @ferrisdb/devops

fix: Make CI path filters more specific for .github directory
  .github/workflows/ci.yml
Owners: @ferrisdb/devops

docs: Update branch-protection.json to match actual settings
  .github/branch-protection.json
Owners: @ferrisdb/admins

feat: Add path filtering to security workflow for docs-only changes
  .github/workflows/security.yml
Owners: @ferrisdb/devops

feat: Add GitHub Sponsors funding configuration
  .github/FUNDING.yml
Owners: @ferrisdb/admins

fix: update Day 1 blog post date to May 27
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
Owners: @ferrisdb/docs-team

refactor: Improve code quality and adopt idiomatic Rust patterns
  CLAUDE.md
  ferrisdb-core/src/error.rs
  ferrisdb-storage/src/memtable/mem_table.rs
  ferrisdb-storage/src/memtable/memtable.rs
  ferrisdb-storage/src/memtable/mod.rs
  ferrisdb-storage/src/memtable/skip_list.rs
  ferrisdb-storage/src/wal/log_entry.rs
Owners: @ferrisdb/admins, @ferrisdb/core-team, @ferrisdb/storage-team

fix: Clean up markdown formatting
  CLAUDE.md
  DEVELOPMENT.md
  README.md
  docs/_claude_blog/2025-01-28-hello-ferrisdb.md
  docs/blog.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

docs: Document Arc and Send+Sync rationale for LSM-tree architecture
  ferrisdb-storage/src/memtable/mem_table.rs
  ferrisdb-storage/src/memtable/skip_list.rs
Owners: @ferrisdb/storage-team

fix: Apply rustfmt formatting after merge + update PR policy
  CLAUDE.md
  ferrisdb-storage/src/memtable/mem_table.rs
Owners: @ferrisdb/admins, @ferrisdb/storage-team

docs: Update PR policy to prevent direct pushes to main
  CLAUDE.md
Owners: @ferrisdb/admins

feat: Design SSTable binary format specification
  TODO.md
  ferrisdb-core/src/error.rs
  ferrisdb-storage/src/sstable/mod.rs
Owners: @ferrisdb/docs-team, @ferrisdb/core-team, @ferrisdb/storage-team

docs: Integrate footer design rationale with format specification
  ferrisdb-storage/src/sstable/mod.rs
Owners: @ferrisdb/storage-team

style: Fix formatting issue
  ferrisdb-storage/src/sstable/mod.rs
Owners: @ferrisdb/storage-team

feat: Implement SSTable writer for persistent storage
  ferrisdb-storage/src/sstable/mod.rs
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/storage-team

refactor: Use strongly typed errors instead of InvalidOperation
  ferrisdb-core/src/error.rs
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/core-team, @ferrisdb/storage-team

feat: Add defensive key ordering verification to SSTable writer
  ferrisdb-core/src/error.rs
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/core-team, @ferrisdb/storage-team

perf: Minor optimization to reduce clones in SSTable writer
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/storage-team

perf: Optimize SSTableWriter to reduce unnecessary clones
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/storage-team

cleanup: Remove unused bench_utils module
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/storage-team

perf: Optimize SSTable reader with binary search within blocks
  ferrisdb-storage/src/sstable/reader.rs
Owners: @ferrisdb/storage-team

refactor: Simplify binary search to use pure InternalKey ordering
  ferrisdb-storage/src/sstable/reader.rs
Owners: @ferrisdb/storage-team

style: Remove unused SSTABLE_MAGIC import
  ferrisdb-storage/src/sstable/reader.rs
Owners: @ferrisdb/storage-team

fix: Restore SSTABLE_MAGIC import for test usage
  ferrisdb-storage/src/sstable/reader.rs
Owners: @ferrisdb/storage-team

style: Improve import organization and document best practices
  CLAUDE.md
  ferrisdb-storage/src/sstable/reader.rs
Owners: @ferrisdb/admins, @ferrisdb/storage-team

refactor: Move Operation from InternalKey to SSTableEntry
  ferrisdb-storage/src/sstable/mod.rs
  ferrisdb-storage/src/sstable/reader.rs
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/storage-team

style: Apply rustfmt formatting improvements
  ferrisdb-storage/src/sstable/mod.rs
  ferrisdb-storage/src/sstable/reader.rs
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/storage-team

refactor: Import Operation symbol instead of using fully qualified path
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/storage-team

.github/CODEOWNERS:

# CODEOWNERS for FerrisDB
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                           @ferrisdb/maintainers

# Core components
/ferrisdb-core/            @ferrisdb/core-team
/ferrisdb-storage/         @ferrisdb/storage-team
/ferrisdb-client/          @ferrisdb/client-team
/ferrisdb-server/          @ferrisdb/server-team

# Documentation
/docs/                     @ferrisdb/docs-team
*.md                       @ferrisdb/docs-team

# GitHub configuration
/.github/                  @ferrisdb/admins
/CLAUDE.md                 @ferrisdb/admins

# Build and CI
/Cargo.toml               @ferrisdb/maintainers
/Cargo.lock               @ferrisdb/maintainers
/.github/workflows/       @ferrisdb/devops
