Repository ferrisdb/ferrisdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ferrisdb/maintainers, @ferrisdb/core-team, @ferrisdb/storage-team, @ferrisdb/client-team, @ferrisdb/server-team, @ferrisdb/docs-team, @ferrisdb/admins, @ferrisdb/devops

.github/CODEOWNERS:

# CODEOWNERS for FerrisDB
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                           @ferrisdb/maintainers

# Core components
/ferrisdb-core/            @ferrisdb/core-team
/ferrisdb-storage/         @ferrisdb/storage-team
/ferrisdb-client/          @ferrisdb/client-team
/ferrisdb-server/          @ferrisdb/server-team

# Documentation
/docs/                     @ferrisdb/docs-team
*.md                       @ferrisdb/docs-team

# GitHub configuration
/.github/                  @ferrisdb/admins
/CLAUDE.md                 @ferrisdb/admins

# Build and CI
/Cargo.toml               @ferrisdb/maintainers
/Cargo.lock               @ferrisdb/maintainers
/.github/workflows/       @ferrisdb/devops

feat: Add Claude's pattern-seeking blog post template
  docs/_claude_blog/blog-post-template.md
Owners: @ferrisdb/docs-team

docs: Add blog template references to CLAUDE.md
  CLAUDE.md
Owners: @ferrisdb/admins

fix: Exclude blog templates from Jekyll processing
  docs/_config.yml
Owners: @ferrisdb/docs-team

docs: Fix Pattern #11 reference to specify Day 2
  docs/claude-blog.md
Owners: @ferrisdb/docs-team

refactor: Move MemTable to mod.rs following idiomatic Rust patterns
  ferrisdb-storage/src/memtable/mem_table.rs
  ferrisdb-storage/src/memtable/mod.rs
Owners: @ferrisdb/storage-team

docs: Major website overhaul for improved learning experience
  CLAUDE.md
  docs/404.html
  docs/_config.yml
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/assets/css/style.scss
  docs/deep-dive/article-template.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/index.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/index.md
  docs/rust-by-example/article-template.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

docs: Fix markdown linting issues
  docs/deep-dive/article-template.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/index.md
  docs/rust-by-example/article-template.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
Owners: @ferrisdb/docs-team

docs: Fix section header links in Rust by Example index
  docs/rust-by-example/index.md
Owners: @ferrisdb/docs-team

docs: Fix markdown linting errors in CLAUDE.md
  CLAUDE.md
Owners: @ferrisdb/admins

fix: Remove duplicate hero sections on homepage
  docs/index.md
Owners: @ferrisdb/docs-team

fix: Improve button contrast on gradient backgrounds
  docs/assets/css/style.scss
Owners: @ferrisdb/docs-team

feat: Redesign hero section for better visual integration
  docs/assets/css/style.scss
  docs/index.md
Owners: @ferrisdb/docs-team

fix: Balance hero text size with content width
  docs/assets/css/style.scss
Owners: @ferrisdb/docs-team

fix: Simple dropdown hover fix by removing gap
  docs/assets/css/style.scss
Owners: @ferrisdb/docs-team

fix: Remove trailing spaces in homepage markdown
  docs/index.md
Owners: @ferrisdb/docs-team

fix: Use layout hero instead of custom hero section
  docs/_config.yml
  docs/_layouts/home.html
  docs/assets/css/style.scss
  docs/index.md
Owners: @ferrisdb/docs-team

feat: Migrate to Just the Docs theme
  docs/Gemfile
  docs/_config.yml
  docs/_includes/footer.html
  docs/_includes/head.html
  docs/_includes/header.html
  docs/_layouts/default.html
  docs/_layouts/home.html
  docs/_layouts/page.html
  docs/_layouts/post.html
  docs/_sass/color_schemes/ferrisdb.scss
  docs/architecture.md
  docs/assets/css/style.scss
  docs/blog.md
  docs/claude-blog.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/index.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/getting-started.md
  docs/index.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
Owners: @ferrisdb/docs-team

fix: Update all templates for Just the Docs theme
  docs/_claude_blog/blog-post-template.md
  docs/_posts/blog-post-template.md
  docs/deep-dive/article-template.md
  docs/rust-by-example/article-template.md
Owners: @ferrisdb/docs-team

refactor: Remove all custom HTML/CSS and use Just the Docs styling
  docs/404.html
  docs/blog.md
  docs/claude-blog.md
  docs/index.md
Owners: @ferrisdb/docs-team

docs: Fix all markdown linting errors (MD025, MD026)
  docs/_claude_blog/blog-post-template.md
  docs/_posts/blog-post-template.md
  docs/architecture.md
  docs/blog.md
  docs/claude-blog.md
  docs/deep-dive/article-template.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/index.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/getting-started.md
  docs/index.md
  docs/rust-by-example/article-template.md
  docs/rust-by-example/index.md
  docs/rust-by-example/ownership-memtable-sharing.md
Owners: @ferrisdb/docs-team

fix: Configure GitHub Actions for docs deployment
  .github/workflows/deploy-docs.yml
  docs/.nojekyll
  docs/_config.yml
Owners: @ferrisdb/devops, @ferrisdb/docs-team

docs: Add GitHub Actions workflow documentation
  .github/workflows/README.md
Owners: @ferrisdb/devops

docs: Fix markdown linting errors in workflow README
  .github/workflows/README.md
Owners: @ferrisdb/devops

feat: Comprehensive documentation design improvements
  docs/_sass/color_schemes/ferrisdb.scss
  docs/_sass/custom/custom.scss
  docs/deep-dive/index.md
  docs/deep-dive/wal-crash-recovery.md
  docs/getting-started.md
  docs/index.md
Owners: @ferrisdb/docs-team

refactor: Use only Just the Docs components and ensure accessibility
  docs/_sass/color_schemes/ferrisdb.scss
  docs/_sass/custom/custom.scss
  docs/deep-dive/index.md
  docs/index.md
  docs/rust-by-example/index.md
Owners: @ferrisdb/docs-team

fix: Fix TOC formatting across all documentation pages
  docs/architecture.md
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/faq.md
  docs/future-architecture.md
  docs/getting-started.md
  docs/rust-by-example/ownership-memtable-sharing.md
  docs/storage-engine.md
Owners: @ferrisdb/docs-team

fix: Fix search functionality configuration
  docs/Gemfile
  docs/_config.yml
Owners: @ferrisdb/docs-team

feat: Upgrade Just the Docs to v0.10.1
  docs/Gemfile
Owners: @ferrisdb/docs-team

feat: Optimize search configuration following best practices
  docs/Rakefile
  docs/_claude_blog/blog-post-template.md
  docs/_config.yml
  docs/_posts/blog-post-template.md
  docs/deep-dive/article-template.md
  docs/rust-by-example/article-template.md
Owners: @ferrisdb/docs-team

fix: Remove unnecessary Rakefile
  docs/Rakefile
Owners: @ferrisdb/docs-team

feat: Implement Just the Docs configuration best practices
  docs/_config.yml
  docs/_includes/footer_custom.html
Owners: @ferrisdb/docs-team

fix: Comment out favicon configuration until ICO file is available
  docs/_config.yml
Owners: @ferrisdb/docs-team

feat: Implement Just the Docs navigation best practices
  docs/_config.yml
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/lsm-trees.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
Owners: @ferrisdb/docs-team

fix: Remove deprecated footer_content configuration
  docs/_config.yml
  docs/_includes/footer_custom.html
Owners: @ferrisdb/docs-team

style: Center footer text using Just the Docs utilities
  docs/_includes/footer_custom.html
Owners: @ferrisdb/docs-team

fix: Correct layouts for blog templates and 404 page
  docs/404.html
  docs/_claude_blog/blog-post-template.md
  docs/_posts/blog-post-template.md
Owners: @ferrisdb/docs-team

style: Standardize button sizing across documentation
  docs/blog.md
  docs/deep-dive/index.md
  docs/getting-started.md
  docs/index.md
  docs/rust-by-example/index.md
Owners: @ferrisdb/docs-team

feat: Enhance documentation with TOCs, SEO descriptions, and code highlighting
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
  docs/deep-dive/concurrent-skip-list.md
  docs/rust-by-example/index.md
Owners: @ferrisdb/docs-team

feat: Add Google Analytics tracking
  docs/_config.yml
Owners: @ferrisdb/docs-team

fix: Fix markdown linting issues in TOC formatting
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
  docs/rust-by-example/index.md
Owners: @ferrisdb/docs-team
