Repository ferrisdb/ferrisdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ferrisdb/maintainers, @ferrisdb/core-team, @ferrisdb/storage-team, @ferrisdb/client-team, @ferrisdb/server-team, @ferrisdb/docs-team, @ferrisdb/admins, @ferrisdb/devops

.github/CODEOWNERS:

# CODEOWNERS for FerrisDB
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                           @ferrisdb/maintainers

# Core components
/ferrisdb-core/            @ferrisdb/core-team
/ferrisdb-storage/         @ferrisdb/storage-team
/ferrisdb-client/          @ferrisdb/client-team
/ferrisdb-server/          @ferrisdb/server-team

# Documentation
/docs/                     @ferrisdb/docs-team
*.md                       @ferrisdb/docs-team

# GitHub configuration
/.github/                  @ferrisdb/admins
/CLAUDE.md                 @ferrisdb/admins

# Build and CI
/Cargo.toml               @ferrisdb/maintainers
/Cargo.lock               @ferrisdb/maintainers
/.github/workflows/       @ferrisdb/devops

style: Format function signature for better readability
  ferrisdb-storage/src/sstable/writer.rs
Owners: @ferrisdb/storage-team

docs: Add comprehensive Day 2 development blog posts
  TODO.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
Owners: @ferrisdb/docs-team

style: Fix markdown linting issues in Day 2 blog posts
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
Owners: @ferrisdb/docs-team

style: Fix markdown linting issues in Day 2 blog posts
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
Owners: @ferrisdb/docs-team

docs: Strengthen PR-only policy in CLAUDE.md
  CLAUDE.md
Owners: @ferrisdb/admins

docs: Clarify development process and strengthen PR-only policy
  CLAUDE.md
Owners: @ferrisdb/admins

docs: Update accidental push guidance to be more practical
  CLAUDE.md
Owners: @ferrisdb/admins

docs: Add comprehensive development guidelines to CLAUDE.md
  CLAUDE.md
Owners: @ferrisdb/admins

docs: Strengthen markdown linting requirements and add prettier config
  .prettierrc
  CLAUDE.md
Owners: @ferrisdb/maintainers, @ferrisdb/admins

style: Fix final markdown linting issues in CLAUDE.md
  CLAUDE.md
Owners: @ferrisdb/admins

docs: Update Day 2 blog post with comprehensive SSTable implementation content
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
Owners: @ferrisdb/docs-team

docs: Add blog post statistics gathering guidelines to CLAUDE.md
  CLAUDE.md
Owners: @ferrisdb/admins

docs: Update Day 1 blog post statistics for accuracy
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
Owners: @ferrisdb/docs-team

docs: Update Claude's first blog post date and content
  docs/_claude_blog/2025-05-28-hello-ferrisdb.md
Owners: @ferrisdb/docs-team

docs: Update README, DEVELOPMENT, and website with current progress
  DEVELOPMENT.md
  README.md
  docs/assets/css/style.scss
  docs/index.md
Owners: @ferrisdb/docs-team

docs: Organize and expand technical deep dive articles
  docs/assets/css/style.scss
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/index.md
  docs/deep-dive/lsm-trees-deep-dive.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
  docs/index.md
Owners: @ferrisdb/docs-team

fix: Add missing blank lines to satisfy markdown linting
  docs/deep-dive/concurrent-skip-list.md
Owners: @ferrisdb/docs-team

fix: Correct skip list diagram formatting on Level 0
  docs/deep-dive/concurrent-skip-list.md
Owners: @ferrisdb/docs-team

docs: Add honesty guidelines for benchmarks and documentation
  CLAUDE.md
Owners: @ferrisdb/admins

docs: Make deep dive articles more accessible to typical developers
  docs/deep-dive/concurrent-skip-list.md
  docs/deep-dive/index.md
  docs/deep-dive/lsm-trees-deep-dive.md
  docs/deep-dive/sstable-design.md
  docs/deep-dive/wal-crash-recovery.md
Owners: @ferrisdb/docs-team

docs: Add deep dive article writing guidelines
  CLAUDE.md
Owners: @ferrisdb/admins

docs: Add engaging blog writing guidelines and template
  CLAUDE.md
  docs/_posts/blog-post-template.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

fix: Resolve markdown linting issues
  CLAUDE.md
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
  docs/_posts/blog-post-template.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

feat: Transform daily blog posts into engaging page-turner style
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
  docs/deep-dive/concurrent-skip-list.md
Owners: @ferrisdb/docs-team

docs: Add git workflow pro tip about updating main before branching
  CLAUDE.md
Owners: @ferrisdb/admins

feat: Transform Day 1 and Day 2 blog posts to engaging style
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
Owners: @ferrisdb/docs-team

fix: Remove trailing punctuation from headings in blog posts
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
Owners: @ferrisdb/docs-team

feat: Update blog index page to match new engaging style
  docs/blog.md
Owners: @ferrisdb/docs-team

docs: Improve skip list diagram formatting for better readability
  docs/deep-dive/concurrent-skip-list.md
Owners: @ferrisdb/docs-team

fix: Replace fictional variable name with actual one in Day 1 blog
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
Owners: @ferrisdb/docs-team

docs: Add guideline about grounding humor in actual code and facts
  CLAUDE.md
Owners: @ferrisdb/admins

fix: Replace fictional variable name with actual one in Day 1 blog
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
Owners: @ferrisdb/docs-team

docs: Add guideline about grounding humor in actual code and facts
  CLAUDE.md
Owners: @ferrisdb/admins

fix: Correct attribution of binary search suggestion with authentic details
  CLAUDE.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

feat: Create Claude's pattern-seeking collaborator personality
  CLAUDE.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/claude-blog.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

feat: Transform Claude's blog posts to pattern-seeking personality
  CLAUDE.md
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
  docs/_claude_blog/2025-05-28-day-2-architectural-clarity-through-collaboration.md
  docs/_claude_blog/2025-05-28-hello-ferrisdb.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

fix: Correct factual inaccuracies in Claude's Day 1 blog
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
Owners: @ferrisdb/docs-team

fix: Improve blog post flow and remove unnatural next episode references
  docs/_claude_blog/2025-05-27-day-1-pattern-recognition-begins.md
  docs/_posts/2025-05-27-day-1-building-ferrisdb-foundations.md
  docs/_posts/2025-05-28-day-2-sstable-optimization-and-architectural-refinement.md
Owners: @ferrisdb/docs-team

refactor: Make deep-dive article filenames consistent
  README.md
  docs/deep-dive/lsm-trees.md
Owners: @ferrisdb/docs-team

style: Apply prettier formatting to CLAUDE.md
  CLAUDE.md
Owners: @ferrisdb/admins
