Repository ferrisdb/ferrisdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ferrisdb/maintainers, @ferrisdb/core-team, @ferrisdb/storage-team, @ferrisdb/client-team, @ferrisdb/server-team, @ferrisdb/docs-team, @ferrisdb/admins, @ferrisdb/devops

fix: Sync package-lock.json with package.json
  docs/package-lock.json
Owners: @ferrisdb/docs-team

feat: Implement comprehensive WAL with metrics and BytesMutExt integration (#108)
  .github/workflows/ci.yml
  .gitignore
  CI-OPTIMIZATION-PLAN.md
  TUTORIAL-01-AUDIT.md
  TUTORIAL-01-FIXES.md
  docs/package-lock.json
  docs/package.json
  docs/scripts/validate-docs.sh
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/README.md
  ferrisdb-storage/benches/README.md
  ferrisdb-storage/benches/wal_benchmarks.rs
  ferrisdb-storage/benches/wal_performance.rs
  ferrisdb-storage/benches/wal_performance_proofs.rs
  ferrisdb-storage/proptest.toml
  ferrisdb-storage/src/wal/header.rs
  ferrisdb-storage/src/wal/log_entry.rs
  ferrisdb-storage/src/wal/metrics.rs
  ferrisdb-storage/src/wal/mod.rs
  ferrisdb-storage/src/wal/reader.rs
  ferrisdb-storage/src/wal/writer.rs
  ferrisdb-storage/tests/README.md
  ferrisdb-storage/tests/wal_concurrent_tests.rs
  ferrisdb-storage/tests/wal_format_tests.rs
  ferrisdb-storage/tests/wal_integration_tests.rs
  ferrisdb-storage/tests/wal_property_tests.rs
  guidelines/workflow/ci-optimization.md
Owners: @ferrisdb/devops, @ferrisdb/maintainers, @ferrisdb/docs-team, @ferrisdb/storage-team

feat: Improve GitHub issue templates with consistent structure
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/tutorial_request.yml
Owners: @ferrisdb/admins

feat: Improve GitHub issue templates with consistent structure
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/tutorial_request.yml
Owners: @ferrisdb/admins

feat: Improve GitHub issue templates with consistent structure (#111)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/ISSUE_TEMPLATE/tutorial_request.yml
Owners: @ferrisdb/admins

fix: Remove redundant security issue link from issue template config
  .github/ISSUE_TEMPLATE/config.yml
Owners: @ferrisdb/admins

fix: Remove redundant security issue link from issue template config (#112)
  .github/ISSUE_TEMPLATE/config.yml
Owners: @ferrisdb/admins

docs: Comprehensive guidelines update with WAL patterns and workflow docs
  CLAUDE.md
  guidelines/README.md
  guidelines/development/README.md
  guidelines/development/benchmark-driven-development.md
  guidelines/technical/architecture.md
  guidelines/technical/file-formats.md
  guidelines/workflow/ci-optimization.md
  guidelines/workflow/github-automation.md
  guidelines/workflow/issue-management.md
  guidelines/workflow/labels.md
  guidelines/workflow/testing.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

feat: Comprehensive guidelines compliance update per GOVERNANCE.md
  guidelines/GOVERNANCE.md
  guidelines/GUIDELINES-SUMMARY.md
  guidelines/README.md
  guidelines/content/DATABASE-CONCEPTS-TAUGHT.md
  guidelines/content/LEARNING-PROGRESS.md
  guidelines/content/README.md
  guidelines/content/RUST-CONCEPTS-TAUGHT.md
  guidelines/content/blogging.md
  guidelines/content/claude-blog-voice.md
  guidelines/content/content-strategy.md
  guidelines/content/database-concepts-articles.md
  guidelines/content/information-architecture.md
  guidelines/content/rust-by-example.md
  guidelines/content/tutorials.md
  guidelines/content/website-design-starlight.md
  guidelines/development/README.md
  guidelines/development/benchmark-driven-development.md
  guidelines/development/code-style.md
  guidelines/development/documentation.md
  guidelines/development/idiomatic-rust.md
  guidelines/development/markdown-standards.md
  guidelines/development/utility-modules.md
  guidelines/development/visualization.md
  guidelines/technical/README.md
  guidelines/technical/architecture.md
  guidelines/technical/file-formats.md
  guidelines/technical/invariants.md
  guidelines/technical/performance.md
  guidelines/technical/security.md
  guidelines/technical/storage-engine.md
  guidelines/workflow/README.md
  guidelines/workflow/ci-optimization.md
  guidelines/workflow/commands.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/github-automation.md
  guidelines/workflow/issue-management.md
  guidelines/workflow/labels.md
  guidelines/workflow/pr-process.md
  guidelines/workflow/testing.md
Owners: @ferrisdb/docs-team

fix: Format content/README.md with prettier
  guidelines/content/README.md
Owners: @ferrisdb/docs-team

fix: Format all guideline markdown files with prettier
  guidelines/GUIDELINES-SUMMARY.md
  guidelines/README.md
  guidelines/content/DATABASE-CONCEPTS-TAUGHT.md
  guidelines/content/LEARNING-PROGRESS.md
  guidelines/content/RUST-CONCEPTS-TAUGHT.md
  guidelines/content/blogging.md
  guidelines/content/claude-blog-voice.md
  guidelines/content/content-strategy.md
  guidelines/content/database-concepts-articles.md
  guidelines/content/information-architecture.md
  guidelines/content/rust-by-example.md
  guidelines/content/tutorials.md
  guidelines/content/website-design-starlight.md
  guidelines/development/README.md
  guidelines/development/benchmark-driven-development.md
  guidelines/development/code-style.md
  guidelines/development/documentation.md
  guidelines/development/idiomatic-rust.md
  guidelines/development/markdown-standards.md
  guidelines/development/utility-modules.md
  guidelines/development/visualization.md
  guidelines/technical/README.md
  guidelines/technical/architecture.md
  guidelines/technical/file-formats.md
  guidelines/technical/invariants.md
  guidelines/technical/performance.md
  guidelines/technical/security.md
  guidelines/technical/storage-engine.md
  guidelines/workflow/ci-optimization.md
  guidelines/workflow/commands.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/github-automation.md
  guidelines/workflow/issue-management.md
  guidelines/workflow/labels.md
  guidelines/workflow/pr-process.md
  guidelines/workflow/testing.md
Owners: @ferrisdb/docs-team

docs: Comprehensive guidelines update with WAL patterns and workflow docs (#113)
  CLAUDE.md
  guidelines/GOVERNANCE.md
  guidelines/GUIDELINES-SUMMARY.md
  guidelines/README.md
  guidelines/content/DATABASE-CONCEPTS-TAUGHT.md
  guidelines/content/LEARNING-PROGRESS.md
  guidelines/content/README.md
  guidelines/content/RUST-CONCEPTS-TAUGHT.md
  guidelines/content/blogging.md
  guidelines/content/claude-blog-voice.md
  guidelines/content/content-strategy.md
  guidelines/content/database-concepts-articles.md
  guidelines/content/information-architecture.md
  guidelines/content/rust-by-example.md
  guidelines/content/tutorials.md
  guidelines/content/website-design-starlight.md
  guidelines/development/README.md
  guidelines/development/benchmark-driven-development.md
  guidelines/development/code-style.md
  guidelines/development/documentation.md
  guidelines/development/idiomatic-rust.md
  guidelines/development/markdown-standards.md
  guidelines/development/utility-modules.md
  guidelines/development/visualization.md
  guidelines/technical/README.md
  guidelines/technical/architecture.md
  guidelines/technical/file-formats.md
  guidelines/technical/invariants.md
  guidelines/technical/performance.md
  guidelines/technical/security.md
  guidelines/technical/storage-engine.md
  guidelines/workflow/README.md
  guidelines/workflow/ci-optimization.md
  guidelines/workflow/commands.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/github-automation.md
  guidelines/workflow/issue-management.md
  guidelines/workflow/labels.md
  guidelines/workflow/pr-process.md
  guidelines/workflow/testing.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

docs: Update README to reflect current project state and educational focus
  README.md
Owners: @ferrisdb/docs-team

feat: Add 'Never Claim Production-Ready' principle to guidelines
  guidelines/GOVERNANCE.md
  guidelines/README.md
  guidelines/content/blogging.md
  guidelines/content/content-strategy.md
  guidelines/development/documentation.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/docs-team

fix: Update RocksDB URL to use HTTPS
  README.md
Owners: @ferrisdb/docs-team

blog: Add Day 5 posts on WAL development and project identity
  docs/src/content/docs/blog/day-5-claude-when-performance-met-architecture.md
  docs/src/content/docs/blog/day-5-human-from-basic-wal-to-production-patterns-in-one-day.md
Owners: @ferrisdb/docs-team

docs: Add CRITICAL rule preventing direct pushes to main branch
  CLAUDE.md
  guidelines/workflow/README.md
  guidelines/workflow/commands.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

style: Format workflow markdown files with prettier
  guidelines/workflow/README.md
  guidelines/workflow/commands.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/docs-team

style: Format CLAUDE.md with prettier
  CLAUDE.md
Owners: @ferrisdb/admins

docs: Add CRITICAL rule preventing direct pushes to main branch (#114)
  CLAUDE.md
  guidelines/workflow/README.md
  guidelines/workflow/commands.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

docs: Update website with Day 5 accomplishments and accurate statistics
  docs/src/components/Stats.astro
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/current-implementation.mdx
  docs/src/content/docs/status.mdx
Owners: @ferrisdb/docs-team

style: Format status.mdx with prettier
  docs/src/content/docs/status.mdx
Owners: @ferrisdb/docs-team

docs: Website maintenance updates for Day 5 (#115)
  docs/src/components/Stats.astro
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/current-implementation.mdx
  docs/src/content/docs/status.mdx
Owners: @ferrisdb/docs-team

docs: Major README and architecture updates
  README.md
  docs/astro.config.mjs
  docs/src/content/docs/reference/architecture-overview.mdx
  docs/src/content/docs/tutorials/index.mdx
Owners: @ferrisdb/docs-team

fix: Format 'What Doesn't Exist' tab with proper line breaks
  docs/src/content/docs/index.mdx
Owners: @ferrisdb/docs-team

feat: Implement custom blog system with dual perspective support
  docs/astro.config.mjs
  docs/src/components/blog/CollaborationMetrics.astro
  docs/src/components/blog/DualView.astro
  docs/src/components/blog/PerspectiveSwitcher.astro
  docs/src/content/docs/blog/day-4-claude-when-structure-becomes-philosophy.md
  docs/src/content/docs/blog/day-4-human-raising-the-bar-governance-and-dogfooding.md
  docs/src/content/docs/blog/day-5-claude-when-performance-met-architecture.md
  docs/src/content/docs/blog/day-5-human-from-basic-wal-to-production-patterns-in-one-day.md
  docs/src/content/docs/reference/architecture-overview.mdx
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/day-[day]/both.astro
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

fix: Resolve blog system issues and improve design consistency
  docs/astro.config.mjs
  docs/src/content/docs/blog-overview.mdx
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

fix: Resolve blog post collection and rendering issues
  docs/package-lock.json
  docs/package.json
  docs/src/content.config.ts
  docs/src/content/config.ts
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/day-[day]/both.astro
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

fix: Convert markdown syntax to HTML in Astro blog index
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

fix(blog): Rewrite DualView component to follow design guidelines
  docs/src/components/blog/DualView.astro
  docs/src/content/docs/blog/day-1-claude-how-i-learned-humans-say-build-but-mean-teach.md
  docs/src/content/docs/blog/day-1-human-from-just-use-rocksdb-to-building-from-scratch.md
  docs/src/content/docs/blog/day-2-claude-when-human-questions-transform-architecture.md
  docs/src/content/docs/blog/day-2-human-from-linear-search-to-clean-apis.md
  docs/src/content/docs/blog/day-3-claude-when-i-started-writing-fiction-and-how-we-fixed-it.md
  docs/src/content/docs/blog/day-3-human-how-we-stopped-claude-from-making-stuff-up.md
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

fix(blog): Enable dynamic navigation in DualView component
  docs/src/components/blog/DualView.astro
Owners: @ferrisdb/docs-team

enhance(blog): Add 'To be continued...' message for unavailable next days
  docs/src/components/blog/DualView.astro
Owners: @ferrisdb/docs-team

refactor(blog): Make blog pages compliant with design guidelines
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

enhance(blog): Make related post card take full width in single view
  docs/src/pages/blog/[slug].astro
Owners: @ferrisdb/docs-team

fix(blog): Replace custom styled elements with Starlight components
  docs/src/pages/blog/[slug].astro
Owners: @ferrisdb/docs-team

fix(blog): Remove weird alert box around navigation
  docs/src/pages/blog/[slug].astro
Owners: @ferrisdb/docs-team

fix(blog): Replace custom 'Compare Both Views' button with Starlight component
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

fix(blog): Make 'Compare both views' link subtle instead of loud alert
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

style(blog): Use subtle badge colors instead of vibrant variants
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

refactor(blog): Replace all badges with simple text and emojis
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

.github/CODEOWNERS:

# CODEOWNERS for FerrisDB
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                           @ferrisdb/maintainers

# Core components
/ferrisdb-core/            @ferrisdb/core-team
/ferrisdb-storage/         @ferrisdb/storage-team
/ferrisdb-client/          @ferrisdb/client-team
/ferrisdb-server/          @ferrisdb/server-team

# Documentation
/docs/                     @ferrisdb/docs-team
*.md                       @ferrisdb/docs-team

# GitHub configuration
/.github/                  @ferrisdb/admins
/CLAUDE.md                 @ferrisdb/admins

# Build and CI
/Cargo.toml               @ferrisdb/maintainers
/Cargo.lock               @ferrisdb/maintainers
/.github/workflows/       @ferrisdb/devops
