Repository ferrisdb/ferrisdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ferrisdb/maintainers, @ferrisdb/core-team, @ferrisdb/storage-team, @ferrisdb/client-team, @ferrisdb/server-team, @ferrisdb/docs-team, @ferrisdb/admins, @ferrisdb/devops

enhance(blog): Use LinkButton with minimal variant for 'Compare both views'
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

fix(blog): Replace muted LinkButton with simple accent-colored link
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

fix(blog): Change invalid 'user' icon to 'document' for human perspective
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

refactor(blog): Remove all inline styles to comply with design guidelines
  docs/src/components/blog/DualView.astro
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/index.astro
Owners: @ferrisdb/docs-team

feat(blog): Use Starlight's Pagination component for consistent navigation
  docs/src/components/blog/DualView.astro
  docs/src/pages/blog/[slug].astro
Owners: @ferrisdb/docs-team

fix: Major blog system improvements - design compliance, navigation, and UX
  docs/astro.config.mjs
  docs/src/components/blog/DualView.astro
  docs/src/content/docs/blog-overview.mdx
  docs/src/content/docs/blog/day-1-human-from-just-use-rocksdb-to-building-from-scratch.md
  docs/src/content/docs/blog/day-2-claude-when-human-questions-transform-architecture.md
  docs/src/content/docs/blog/day-2-human-from-linear-search-to-clean-apis.md
  docs/src/content/docs/blog/day-3-claude-when-i-started-writing-fiction-and-how-we-fixed-it.md
  docs/src/content/docs/blog/day-3-human-how-we-stopped-claude-from-making-stuff-up.md
  docs/src/content/docs/blog/day-4-claude-when-structure-becomes-philosophy.md
  docs/src/content/docs/blog/day-4-human-raising-the-bar-governance-and-dogfooding.md
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/index.astro
  guidelines/content/templates/blog-post-claude.mdx
  guidelines/content/templates/blog-post-human.mdx
Owners: @ferrisdb/docs-team, @ferrisdb/maintainers

chore: Apply prettier formatting to markdown files
  docs/src/content/docs/blog/day-1-claude-how-i-learned-humans-say-build-but-mean-teach.md
  docs/src/content/docs/blog/day-1-human-from-just-use-rocksdb-to-building-from-scratch.md
  docs/src/content/docs/blog/day-2-claude-when-human-questions-transform-architecture.md
  docs/src/content/docs/blog/day-2-human-from-linear-search-to-clean-apis.md
  docs/src/content/docs/blog/day-3-claude-when-i-started-writing-fiction-and-how-we-fixed-it.md
  docs/src/content/docs/blog/day-3-human-how-we-stopped-claude-from-making-stuff-up.md
  docs/src/content/docs/blog/day-4-claude-when-structure-becomes-philosophy.md
  docs/src/content/docs/blog/day-5-human-from-basic-wal-to-production-patterns-in-one-day.md
  docs/src/content/docs/index.mdx
Owners: @ferrisdb/docs-team

fix: Major blog system improvements - design compliance, navigation, and UX (#120)
  README.md
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/src/components/blog/CollaborationMetrics.astro
  docs/src/components/blog/DualView.astro
  docs/src/components/blog/PerspectiveSwitcher.astro
  docs/src/content.config.ts
  docs/src/content/config.ts
  docs/src/content/docs/blog-overview.mdx
  docs/src/content/docs/blog/day-1-claude-how-i-learned-humans-say-build-but-mean-teach.md
  docs/src/content/docs/blog/day-1-human-from-just-use-rocksdb-to-building-from-scratch.md
  docs/src/content/docs/blog/day-2-claude-when-human-questions-transform-architecture.md
  docs/src/content/docs/blog/day-2-human-from-linear-search-to-clean-apis.md
  docs/src/content/docs/blog/day-3-claude-when-i-started-writing-fiction-and-how-we-fixed-it.md
  docs/src/content/docs/blog/day-3-human-how-we-stopped-claude-from-making-stuff-up.md
  docs/src/content/docs/blog/day-4-claude-when-structure-becomes-philosophy.md
  docs/src/content/docs/blog/day-4-human-raising-the-bar-governance-and-dogfooding.md
  docs/src/content/docs/blog/day-5-claude-when-performance-met-architecture.md
  docs/src/content/docs/blog/day-5-human-from-basic-wal-to-production-patterns-in-one-day.md
  docs/src/content/docs/reference/architecture-overview.mdx
  docs/src/content/docs/tutorials/index.mdx
  docs/src/pages/blog/[slug].astro
  docs/src/pages/blog/day-[day]/both.astro
  docs/src/pages/blog/index.astro
  guidelines/content/templates/blog-post-claude.mdx
  guidelines/content/templates/blog-post-human.mdx
Owners: @ferrisdb/docs-team, @ferrisdb/maintainers

fix: Update code for rand 0.9 API changes
  ferrisdb-storage/src/memtable/skip_list.rs
Owners: @ferrisdb/storage-team

docs: Add guidelines for emoji signatures when acting on behalf
  CLAUDE.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

style: Apply prettier formatting to guideline markdown files
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/docs-team

docs: Add guidelines for emoji signatures when acting on behalf (#122)
  CLAUDE.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

feat: Add Google Analytics to Starlight website
  docs/astro.config.mjs
Owners: @ferrisdb/docs-team

feat: Add Google Analytics to Starlight website (#124)
  docs/astro.config.mjs
Owners: @ferrisdb/docs-team

ci: Add maintainer check to Claude workflow
  .github/workflows/claude.yml
Owners: @ferrisdb/devops

ci: Add maintainer check to Claude workflow (#123)
  .github/workflows/claude.yml
Owners: @ferrisdb/devops

style: Apply cargo fmt to fix formatting issues
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/benches/bytes_ext_allocation_proof.rs
  ferrisdb-storage/src/utils/bytes_ext.rs
Owners: @ferrisdb/storage-team

fix: Add allocation-related terms to spell check dictionary
  _typos.toml
Owners: @ferrisdb/maintainers

fix: Pin typos action to v1.23.6 to fix 404 download error
  .github/workflows/ci.yml
Owners: @ferrisdb/devops

revert: Undo typos version pinning - keep at @master
  .github/workflows/ci.yml
Owners: @ferrisdb/devops

feat: Add memory allocation counters to BytesMutExt benchmarks (#125)
  _typos.toml
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/benches/bytes_ext_allocation_proof.rs
  ferrisdb-storage/src/utils/bytes_ext.rs
Owners: @ferrisdb/maintainers, @ferrisdb/storage-team

style: Apply prettier formatting to index.mdx
  docs/src/content/docs/index.mdx
Owners: @ferrisdb/docs-team

fix: Update landing page to reference FoundationDB instead of PostgreSQL (#127)
  docs/src/content/docs/index.mdx
Owners: @ferrisdb/docs-team

feat: Reduce WAL key/value size limits for better performance
  ferrisdb-storage/src/wal/log_entry.rs
  ferrisdb-storage/tests/wal_format_tests.rs
  ferrisdb-storage/tests/wal_integration_tests.rs
  ferrisdb-storage/tests/wal_property_tests.rs
Owners: @ferrisdb/storage-team

fix: Correct size progression in WAL integration test
  ferrisdb-storage/tests/wal_integration_tests.rs
Owners: @ferrisdb/storage-team

chore: Fix clippy warning for explicit counter loop
  ferrisdb-storage/tests/wal_property_tests.rs
Owners: @ferrisdb/storage-team

refactor: Simplify loop logic by using index instead of counter
  ferrisdb-storage/tests/wal_property_tests.rs
Owners: @ferrisdb/storage-team

fix: Update concurrent test for new WAL size limits
  ferrisdb-storage/tests/wal_concurrent_tests.rs
Owners: @ferrisdb/storage-team

fix: Remove incorrect assertion about empty keys in property test
  ferrisdb-storage/tests/wal_property_tests.rs
Owners: @ferrisdb/storage-team

style: Apply cargo fmt formatting
  ferrisdb-storage/tests/wal_concurrent_tests.rs
  ferrisdb-storage/tests/wal_integration_tests.rs
Owners: @ferrisdb/storage-team

feat: Reduce WAL key/value size limits for better performance (#128)
  ferrisdb-storage/src/wal/log_entry.rs
  ferrisdb-storage/tests/wal_concurrent_tests.rs
  ferrisdb-storage/tests/wal_format_tests.rs
  ferrisdb-storage/tests/wal_integration_tests.rs
  ferrisdb-storage/tests/wal_property_tests.rs
Owners: @ferrisdb/storage-team

fix(memtable): reject writes once full without inserting
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/src/memtable/mod.rs
  ferrisdb-storage/src/wal/writer.rs
Owners: @ferrisdb/storage-team

fix(memtable): reject writes once full without inserting (#129)
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/src/memtable/mod.rs
  ferrisdb-storage/src/wal/writer.rs
Owners: @ferrisdb/storage-team

test(wal): make root skip check unix-only
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/src/memtable/mod.rs
  ferrisdb-storage/src/wal/writer.rs
Owners: @ferrisdb/storage-team

test(wal): make root skip check unix-only (#131)
  ferrisdb-storage/src/wal/writer.rs
Owners: @ferrisdb/storage-team

docs: generalize AI commentary instructions
  AGENTS.md
  CLAUDE.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/docs-team, @ferrisdb/admins

docs: generalize AI commentary instructions (#130)
  AGENTS.md
  CLAUDE.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/docs-team, @ferrisdb/admins

chore: add dev tool setup script
  DEVELOPMENT.md
  README.md
  scripts/setup-dev-tools.sh
Owners: @ferrisdb/docs-team, @ferrisdb/maintainers

docs: replace Claude references with Codex
  .github/workflows/claude.yml
  guidelines/workflow/commands.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/devops, @ferrisdb/docs-team

docs: generalize agent references
  .github/workflows/claude.yml
  guidelines/workflow/commands.md
  guidelines/workflow/git-workflow.md
  guidelines/workflow/pr-process.md
Owners: @ferrisdb/devops, @ferrisdb/docs-team

.github/CODEOWNERS:

# CODEOWNERS for FerrisDB
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                           @ferrisdb/maintainers

# Core components
/ferrisdb-core/            @ferrisdb/core-team
/ferrisdb-storage/         @ferrisdb/storage-team
/ferrisdb-client/          @ferrisdb/client-team
/ferrisdb-server/          @ferrisdb/server-team

# Documentation
/docs/                     @ferrisdb/docs-team
*.md                       @ferrisdb/docs-team

# GitHub configuration
/.github/                  @ferrisdb/admins
/CLAUDE.md                 @ferrisdb/admins

# Build and CI
/Cargo.toml               @ferrisdb/maintainers
/Cargo.lock               @ferrisdb/maintainers
/.github/workflows/       @ferrisdb/devops
