Repository ferrisdb/ferrisdb, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ferrisdb/maintainers, @ferrisdb/core-team, @ferrisdb/storage-team, @ferrisdb/client-team, @ferrisdb/server-team, @ferrisdb/docs-team, @ferrisdb/admins, @ferrisdb/devops

style: Apply prettier formatting to tutorial guidelines
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

docs: Make prettier formatting mandatory for all markdown changes
  CLAUDE.md
  guidelines/README.md
  guidelines/development/markdown-standards.md
  guidelines/workflow/git-workflow.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

fix: Fix Steps component syntax in Starlight docs
  ferrisdb-docs/src/content/docs/exploring-ferrisdb.mdx
  ferrisdb-docs/src/content/docs/reference/future-architecture.mdx
Owners: @ferrisdb/maintainers

fix: Resolve prettier vs MDX Steps component formatting conflict
  CLAUDE.md
  ferrisdb-docs/src/content/docs/exploring-ferrisdb.mdx
  ferrisdb-docs/src/content/docs/reference/future-architecture.mdx
  guidelines/README.md
  guidelines/content/tutorials.md
  guidelines/development/markdown-standards.md
  guidelines/workflow/git-workflow.md
Owners: @ferrisdb/admins, @ferrisdb/maintainers, @ferrisdb/docs-team

docs: Add critical MDX inline comment guidelines
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

feat: Replace Jekyll with Starlight for GitHub Pages deployment
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
Owners: @ferrisdb/devops

fix: Add prettier-ignore to preserve MDX example formatting in tutorials.md
  guidelines/content/tutorials.md
Owners: @ferrisdb/docs-team

fix: Remove Jekyll CI job and update to Starlight-only checks
  .github/workflows/README.md
  .github/workflows/ci.yml
Owners: @ferrisdb/devops

fix: Clean up guidelines and fix broken references
  CLAUDE.md
  GUIDELINES-AUDIT-REPORT.md
  TODO.md
  guidelines/GUIDELINES-SUMMARY.md
  guidelines/content/README.md
  guidelines/content/blogging.md
  guidelines/content/database-concepts-articles.md
  guidelines/content/website-design-starlight.md
  guidelines/content/website-design.md
  guidelines/development/documentation.md
  guidelines/development/markdown-standards.md
  guidelines/development/visualization.md
  guidelines/technical/README.md
  guidelines/workflow/commands.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team

blog: Add Day 4 posts on governance and tutorial framework
  docs/src/content/docs/blog/day-4-claude-when-structure-becomes-philosophy.md
  docs/src/content/docs/blog/day-4-human-raising-the-bar-governance-and-dogfooding.md
Owners: @ferrisdb/docs-team

fix: Major website improvements - typography, mermaid, and content accuracy
  NAVIGATION-AUDIT-REPORT.md
  docs/astro.config.mjs
  docs/package-lock.json
  docs/package.json
  docs/public/mermaid-init.js
  docs/src/components/MermaidScript.astro
  docs/src/components/Stats.astro
  docs/src/content/docs/blog-overview.mdx
  docs/src/content/docs/concepts/database-internals/lsm-trees.mdx
  docs/src/content/docs/concepts/database-internals/skip-lists.mdx
  docs/src/content/docs/concepts/database-internals/wal.mdx
  docs/src/content/docs/concepts/rust-patterns/ownership-sharing.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/project/faq.mdx
  docs/src/content/docs/project/roadmap.mdx
  docs/src/content/docs/reference/current-implementation.mdx
  docs/src/content/docs/reference/future-architecture.mdx
  docs/src/content/docs/status.mdx
  docs/src/content/docs/tutorials/01-key-value-store.mdx
  docs/src/styles/custom.css
Owners: @ferrisdb/docs-team

chore: Apply prettier formatting to markdown files
  NAVIGATION-AUDIT-REPORT.md
  docs/src/content/docs/concepts/database-internals/lsm-trees.mdx
  docs/src/content/docs/concepts/database-internals/skip-lists.mdx
  docs/src/content/docs/concepts/rust-patterns/ownership-sharing.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/project/roadmap.mdx
  docs/src/content/docs/reference/current-implementation.mdx
  docs/src/content/docs/reference/future-architecture.mdx
  docs/src/content/docs/status.mdx
Owners: @ferrisdb/docs-team

fix: Apply prettier formatting to blogging guidelines
  guidelines/content/blogging.md
Owners: @ferrisdb/docs-team

feat: Add Tutorial 2 - Building a Write-Ahead Log
  docs/astro.config.mjs
  docs/src/content/docs/tutorials/02-write-ahead-log.mdx
  ferrisdb-tutorials/Cargo.toml
  ferrisdb-tutorials/tutorial-02-wal/Cargo.toml
  ferrisdb-tutorials/tutorial-02-wal/README.md
  ferrisdb-tutorials/tutorial-02-wal/exercises/challenge_01_compression.rs
  ferrisdb-tutorials/tutorial-02-wal/exercises/challenge_02_rotation.rs
  ferrisdb-tutorials/tutorial-02-wal/exercises/challenge_03_concurrent.rs
  ferrisdb-tutorials/tutorial-02-wal/exercises/solutions/challenge_01_solution.rs
  ferrisdb-tutorials/tutorial-02-wal/exercises/solutions/challenge_02_solution.rs
  ferrisdb-tutorials/tutorial-02-wal/exercises/solutions/challenge_03_solution.rs
  ferrisdb-tutorials/tutorial-02-wal/src/lib.rs
  ferrisdb-tutorials/tutorial-02-wal/src/main.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/integration_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_01_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_02_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_03_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_04_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_05_tests.rs
Owners: @ferrisdb/docs-team, @ferrisdb/maintainers

refactor: Align Tutorial 2 with FerrisDB structure and guidelines
  docs/src/content/docs/tutorials/02-write-ahead-log.mdx
  ferrisdb-tutorials/tutorial-02-wal/Cargo.toml
  ferrisdb-tutorials/tutorial-02-wal/benches/wal_performance.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/README.md
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/challenge_01_compression.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/challenge_02_rotation.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/challenge_03_concurrent.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/solutions/challenge_01_solution.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/solutions/challenge_02_solution.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/solutions/challenge_03_solution.rs
  ferrisdb-tutorials/tutorial-02-wal/src/lib.rs
  ferrisdb-tutorials/tutorial-02-wal/src/main.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/solutions.rs
Owners: @ferrisdb/docs-team, @ferrisdb/maintainers

wip
  CLAUDE.md
  ferrisdb-core/README.md
  ferrisdb-core/src/lib.rs
  ferrisdb-core/src/magic.rs
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/benches/wal_benchmarks.rs
  ferrisdb-storage/src/sstable/mod.rs
  ferrisdb-storage/src/wal/README.md
  ferrisdb-storage/src/wal/log_entry.rs
  ferrisdb-storage/src/wal/reader.rs
  ferrisdb-storage/src/wal/writer.rs
  ferrisdb-tutorials/Cargo.toml
  ferrisdb-tutorials/tutorial-02-wal/Cargo.toml
  ferrisdb-tutorials/tutorial-02-wal/README.md
  ferrisdb-tutorials/tutorial-02-wal/benches/wal_performance.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/README.md
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/challenge_01_compression.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/challenge_02_rotation.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/challenge_03_concurrent.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/solutions/challenge_01_solution.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/solutions/challenge_02_solution.rs
  ferrisdb-tutorials/tutorial-02-wal/examples/exercises/solutions/challenge_03_solution.rs
  ferrisdb-tutorials/tutorial-02-wal/src/lib.rs
  ferrisdb-tutorials/tutorial-02-wal/src/main.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/integration_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/solutions.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_01_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_02_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_03_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_04_tests.rs
  ferrisdb-tutorials/tutorial-02-wal/tests/step_05_tests.rs
  guidelines/content/tutorials.md
  guidelines/technical/README.md
  guidelines/technical/common-standards.md
  guidelines/technical/design-rationale.md
  guidelines/technical/magic-numbers.md
  guidelines/technical/standards-quick-reference.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team, @ferrisdb/core-team, @ferrisdb/storage-team, @ferrisdb/maintainers

fix: Correct WAL writer doctest to handle Result from new_put
  ferrisdb-storage/src/wal/writer.rs
Owners: @ferrisdb/storage-team

feat: Implement production-ready WAL with file headers and enhance guidelines (#105)
  CLAUDE.md
  docs/astro.config.mjs
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/benches/wal_performance.rs
  ferrisdb-storage/src/format/mod.rs
  ferrisdb-storage/src/lib.rs
  ferrisdb-storage/src/wal/header.rs
  ferrisdb-storage/src/wal/log_entry.rs
  ferrisdb-storage/src/wal/mod.rs
  ferrisdb-storage/src/wal/reader.rs
  ferrisdb-storage/src/wal/writer.rs
  guidelines/GUIDELINES-SUMMARY.md
  guidelines/README.md
  guidelines/development/code-style.md
  guidelines/development/documentation.md
  guidelines/technical/README.md
  guidelines/technical/architecture.md
  guidelines/technical/file-formats.md
  guidelines/technical/storage-engine.md
  guidelines/workflow/testing.md
Owners: @ferrisdb/admins, @ferrisdb/docs-team, @ferrisdb/storage-team

feat: Add utils module with BytesMutExt and update guidelines
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/benches/bytes_ext_benchmarks.rs
  ferrisdb-storage/src/lib.rs
  ferrisdb-storage/src/utils/README.md
  ferrisdb-storage/src/utils/bytes_ext.rs
  ferrisdb-storage/src/utils/mod.rs
  ferrisdb-storage/src/wal/mod.rs
  ferrisdb-storage/src/wal/reader.rs
  guidelines/README.md
  guidelines/development/code-style.md
  guidelines/development/idiomatic-rust.md
  guidelines/development/utility-modules.md
  guidelines/technical/file-formats.md
  guidelines/technical/performance.md
  guidelines/workflow/testing.md
Owners: @ferrisdb/storage-team, @ferrisdb/docs-team

fix: Remove unrelated WAL benchmark entries from Cargo.toml
  ferrisdb-storage/Cargo.toml
Owners: @ferrisdb/storage-team

fix: Remove unrelated WAL changes from utils PR
  ferrisdb-storage/src/wal/mod.rs
  ferrisdb-storage/src/wal/reader.rs
Owners: @ferrisdb/storage-team

style: Format markdown files with prettier
  ferrisdb-storage/src/utils/README.md
  ferrisdb-storage/src/wal/README.md
  guidelines/development/idiomatic-rust.md
  guidelines/development/utility-modules.md
  guidelines/technical/file-formats.md
  guidelines/technical/performance.md
Owners: @ferrisdb/docs-team

style: Apply cargo fmt to fix Rust formatting
  ferrisdb-storage/benches/bytes_ext_benchmarks.rs
  ferrisdb-storage/src/utils/bytes_ext.rs
  ferrisdb-storage/src/utils/mod.rs
Owners: @ferrisdb/storage-team

docs: Address PR review feedback for BytesMutExt
  ferrisdb-storage/src/utils/bytes_ext.rs
Owners: @ferrisdb/storage-team

feat: Add utils module with BytesMutExt and update guidelines (#106)
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/benches/bytes_ext_benchmarks.rs
  ferrisdb-storage/src/lib.rs
  ferrisdb-storage/src/utils/README.md
  ferrisdb-storage/src/utils/bytes_ext.rs
  ferrisdb-storage/src/utils/mod.rs
  ferrisdb-storage/src/wal/README.md
  guidelines/README.md
  guidelines/development/code-style.md
  guidelines/development/idiomatic-rust.md
  guidelines/development/utility-modules.md
  guidelines/technical/file-formats.md
  guidelines/technical/performance.md
  guidelines/workflow/testing.md
Owners: @ferrisdb/storage-team, @ferrisdb/docs-team

fix: Remove unrelated WAL changes from utils PR
  ferrisdb-storage/src/wal/mod.rs
  ferrisdb-storage/src/wal/reader.rs
Owners: @ferrisdb/storage-team

feat: Add utils module with BytesMutExt and update guidelines
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/benches/bytes_ext_benchmarks.rs
  ferrisdb-storage/src/utils/README.md
  ferrisdb-storage/src/utils/bytes_ext.rs
  ferrisdb-storage/src/wal/mod.rs
  ferrisdb-storage/src/wal/reader.rs
  guidelines/development/utility-modules.md
Owners: @ferrisdb/storage-team, @ferrisdb/docs-team

style: Format markdown files with prettier
  ferrisdb-storage/src/utils/README.md
  guidelines/development/utility-modules.md
Owners: @ferrisdb/docs-team

fix: Remove unrelated WAL benchmark entries from Cargo.toml
  ferrisdb-storage/Cargo.toml
Owners: @ferrisdb/storage-team

style: Apply cargo fmt to fix Rust formatting
  ferrisdb-storage/benches/bytes_ext_benchmarks.rs
  ferrisdb-storage/src/utils/bytes_ext.rs
Owners: @ferrisdb/storage-team

feat: Implement production-ready WAL with metrics and BytesMutExt integration
  TUTORIAL-01-AUDIT.md
  TUTORIAL-01-FIXES.md
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/README.md
  ferrisdb-storage/benches/README.md
  ferrisdb-storage/benches/wal_benchmarks.rs
  ferrisdb-storage/benches/wal_performance.rs
  ferrisdb-storage/benches/wal_performance_proofs.rs
  ferrisdb-storage/src/wal/header.rs
  ferrisdb-storage/src/wal/log_entry.rs
  ferrisdb-storage/src/wal/metrics.rs
  ferrisdb-storage/src/wal/mod.rs
  ferrisdb-storage/src/wal/reader.rs
  ferrisdb-storage/src/wal/writer.rs
  ferrisdb-storage/tests/README.md
  ferrisdb-storage/tests/wal_concurrent_tests.rs
  ferrisdb-storage/tests/wal_format_tests.rs
  ferrisdb-storage/tests/wal_integration_tests.rs
  ferrisdb-storage/tests/wal_property_tests.rs
Owners: @ferrisdb/docs-team, @ferrisdb/storage-team

style: Fix WAL test naming compliance with testing standards
  ferrisdb-storage/src/wal/log_entry.rs
  ferrisdb-storage/src/wal/reader.rs
Owners: @ferrisdb/storage-team

style: Fix formatting in log_entry.rs (remove extra blank line)
  ferrisdb-storage/src/wal/log_entry.rs
Owners: @ferrisdb/storage-team

docs: Add comprehensive test documentation for WAL core modules
  ferrisdb-storage/src/wal/header.rs
  ferrisdb-storage/src/wal/metrics.rs
  ferrisdb-storage/src/wal/reader.rs
Owners: @ferrisdb/storage-team

fix: Replace Unix-specific permission tests with cross-platform alternatives
  ferrisdb-storage/src/wal/writer.rs
Owners: @ferrisdb/storage-team

style: Fix trailing whitespace in cross-platform test
  ferrisdb-storage/src/wal/writer.rs
Owners: @ferrisdb/storage-team

feat: Comprehensive CI optimization to reduce redundancy and improve speed
  .github/workflows/ci.yml
  .gitignore
  CI-OPTIMIZATION-PLAN.md
  docs/scripts/validate-docs.sh
  ferrisdb-storage/Cargo.toml
  ferrisdb-storage/proptest.toml
  ferrisdb-storage/tests/wal_property_tests.rs
  guidelines/workflow/ci-optimization.md
Owners: @ferrisdb/devops, @ferrisdb/maintainers, @ferrisdb/docs-team, @ferrisdb/storage-team

fix: Fix bash syntax error in docs validation script
  docs/scripts/validate-docs.sh
Owners: @ferrisdb/docs-team

fix: Skip Astro type checking in CI validation script
  docs/scripts/validate-docs.sh
Owners: @ferrisdb/docs-team

feat: Add proper Astro type checking to docs validation
  docs/package-lock.json
  docs/package.json
  docs/scripts/validate-docs.sh
Owners: @ferrisdb/docs-team

.github/CODEOWNERS:

# CODEOWNERS for FerrisDB
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
*                           @ferrisdb/maintainers

# Core components
/ferrisdb-core/            @ferrisdb/core-team
/ferrisdb-storage/         @ferrisdb/storage-team
/ferrisdb-client/          @ferrisdb/client-team
/ferrisdb-server/          @ferrisdb/server-team

# Documentation
/docs/                     @ferrisdb/docs-team
*.md                       @ferrisdb/docs-team

# GitHub configuration
/.github/                  @ferrisdb/admins
/CLAUDE.md                 @ferrisdb/admins

# Build and CI
/Cargo.toml               @ferrisdb/maintainers
/Cargo.lock               @ferrisdb/maintainers
/.github/workflows/       @ferrisdb/devops
